body {
	/*padding:0px;
	margin: 0px 0px 0px 0px;*/
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
div#xatstyme {
	background:#0;
	color: #00; 
	overflow: auto;
}
body {background:repeating-linear-gradient(0deg, #111, #111 1px, transparent 1px, transparent 7px),         repeating-linear-gradient(90deg, #111, #111 1px, transparent 1px, transparent 7px),         radial-gradient(600px 800px ellipse at center top, #00FFFF, #1c1c1c); } *{     margin:0;     padding:0;     box-sizing:border-box;     -webkit-user-select:none;     user-select:none; } :root{     --font-1: 'Open Sans Condensed', sans-serif;     --font-2: 'Anton', sans-serif;     --font-3: 'Sedgwick Ave Display', cursive;     --font-4: 'Coustard', serif;     --Aqua: #00FFFF; } #main{     width:100%;     height:100vh;     position:relative;     font-family:var(--font-1);     font-size:1rem;     color:#000;     overflow:hidden; } .container{     width:1080px;     height:100vh;     margin:0 auto;     position:relative; } .main-content{     width:300px;     height:300px;     position:relative;     left:calc(50% - 150px);     top:170px;     transform:translateY(0);     text-align:center;     transition:all .5s ease-in; } .main-content:after{     position:absolute;     content:'';     width:4px;     height:150px;     background:#000;     top:-170px;     left:calc(50% - 2px); } .main-content img{     margin:10px 0; } .main-content h1{     font-size:5rem;     font-family:'Arial Black', sans-serif;     line-height:5rem; } .main-content h2{     text-transform:uppercase;     font-size:1.2rem;     letter-spacing:5px;     line-height:2rem;     color:Aqua;     background:#000;     padding:1px 0;     font-weight:lighter;     animation: pulse .4s infinite linear; } @keyframes pulse{     0%{         color:Aqua;     }     50%{         color:black;     } } .main-content a{     display:inline-block;     font-size:1rem;     text-transform:uppercase;     color:var(--Aqua);     text-decoration:none;     background:#000;     padding:10px 25px;     border-radius:4px;     box-shadow:0 1px var(--Aqua);     margin-top:40px;     font-family:sans-serif;     transition:all .3s; } .main-content a:hover{     color:#fff;     box-shadow:0 0 40px 12px rgba(3,255,252,.5);     margin-top:30px; } .page{     width:1000px;     height:520px;     background:var(--Aqua);     border-radius:6px;     box-shadow:0 0 40px 12px rgba(0,0,0,.3);     position:absolute;     top:50%;     left:50%;     transform:translate(-50%, 100%);     visibility:hidden;     opacity:0;     padding:40px;     transition:all .5s ease-out; }  #content:target .main-content{     transform:translateY(-180%); } #content:target .page{     transform:translate(-50%, -50%);     opacity:1;     visibility:visible;     transition-delay:.7s; } .btn{     position:absolute;     display:block;     width:34px;     height:34px;     line-height:34px;     text-align:center;     background:rgba(0,0,0,.5);     border-radius:50%;     text-decoration:none;     color:var(--Aqua);     right:20px;     top:20px;     transition:all .3s ease-in-out; } .btn:hover{     color:#fff;     transform:rotate(360deg); } .left, .right{     width:50%;     height:100%;     float:left;     padding:10px; } .left{     border-right:solid 1px #000; } .left h1{     font-family: 'Arial Black', sans-serif;     font-size:3.5rem;     line-height:3rem; } .left h2{     line-height:1.5rem;     font-family:var(--font-4); } .left h3{     font-size:1.8rem;     font-family:var(--font-4);     letter-spacing:2px;     margin-top:30px; } .left span{     display:block;     text-transform:uppercase;     font-weight:bold; } .left p{     font-family:var(--font-4);     margin-top:40px; } .video{     width:200px;     height:113px;     margin-top:25px;     display:none; } .right h1{     text-transform:uppercase;     font-family: 'Arial Black', sans-serif;     font-size:4rem;     margin-top:100px; } .right p{     font-family:var(--font-4); } .open{     display:inline-block;     float:right;     padding:2px 10px;     background:#000;     color:#fff;     text-decoration:none;     text-transform:uppercase;     border-radius:3px;     margin-top:30px; } .open_2{     text-decoration:none;     color:black;     border-bottom:dashed 1px black; } strong{     padding-right:10px; } .footer{     position:absolute;     width:100%;     text-align:right;     bottom:10px;     color:#ddd;     font-size:.8rem;}
div#noowayfixed {
	z-index: 2147483647;
    position: fixed;
    bottom: 0;
    left: 0;
}
div#noowaymenu
{
	background-color:#009;
	background: linear-gradient(#000014, #000024, #00004e);
    border-radius: 0px 5px 0px 0px;
	display: none;
	FONT-SIZE: 12pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
}
div#noowayitems
{
	padding-top: 5px;
    padding-right: 0px;
    /*padding-bottom: 5px;*/
    padding-left: 0px;
    margin-left: 6px;
    line-height: 130%;
	color:#fff;
}
div#noowayitems > a
{
	color:#fff;
    text-decoration: none;
}
div#noowayitems > a:hover {
    text-decoration: underline;
}
