
* {
    padding: 0;
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #161616;
  }
  .menu {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(0deg) translateX(170px);
    transform-origin: 200px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }
  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
  }
  .menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
    color: transparent;
    transition-delay: 0.5s;
    filter: drop-shadow(0 0 2px var(--clr));
  }
  .menu.active a {
    color: var(--clr);
  }
  .menu a::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    transform: rotate(calc(90deg * var(--i))) translate(0, 48px);
    transition: width 0.5s, height 0.5s, transform 0.5s;
    transition-delay: 0.5s, 1s, 1.5s;
  }
  .menu.active a::before {
    width: 50px;
    height: 50px;
    background: #161616;
    border: 2px solid var(--clr);
    transform: rotate(calc(0 * var(--i)));
    transition: transform 0.5s, height 0.5s, width 0.5s;
    transition-delay: 0.5s, 1.5s, 1.5s;
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--clr));
    rotate: 135deg;
  }
  .menu.active li:hover a::before {
    background: var(--clr);
  }
  .menu.active li:hover a ion-icon {
    color: #161616;
  }
  
  .menuToggle {
    position: absolute;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    transition: 1.5s;
  }
  .menu.active .menuToggle {
    transform: rotate(315deg);
  }

/* Ocultar o contêiner do jogo por padrão */
#gameContainer.hidden {
  display: none;
}

/* Game styles */
#gameContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  display: none; /* Hidden by default */
}

#game {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#gameButton {
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#gameButton:hover {
  background-color: #0056b3;
}

#closeGame {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ff2972;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#closeGame:hover {
  background-color: #e02d6d;
}
